#longbox {
    -webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
}

#credit {
	font-size: .6em;
	font-family: sans-serif;
	float:right;
	position:absolute;
	right: 0;
	bottom: 0;
	margin-left:auto;
}